containers/n8n_container/workflow/cola_dinámica_con_workers.json
{
  "name": "cola_dinámica_con_workers",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1504,
        -224
      ],
      "id": "d62ce63a-82aa-4708-b2e0-3f0c85016512",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        -176
      ],
      "id": "c88c2a9b-8e41-4e67-9de0-9a4cb8a364f8",
      "name": "Loop Over Items",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "https://api.github.com/rate_limit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"repo_url\": \"{{$json.resp}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        -688
      ],
      "id": "6c39e516-bdd8-4817-8ac1-ecb31c16331c",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "ubswkYOIMblKOtWh",
          "name": "github token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rsfc:8000/functions/run",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"repo_url\": \"{{$json.response}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        32
      ],
      "id": "5085b6a7-c650-4e49-ae9f-ca01c16f00da",
      "name": "Request RSFC",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "http://soca:8000/isactive",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -832,
        -240
      ],
      "id": "00509631-2483-4bd1-a462-5e1630c9e62f",
      "name": "Request Soca isactive",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5875df17-5501-49ae-a68e-bdcdf51faf13",
              "leftValue": "={{ $json.state }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -240
      ],
      "id": "80044fdf-1c35-4e09-8275-c52b242b31b5",
      "name": "If Soca Active"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f58016d7-cff9-4dab-884a-049759d4ce0c",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "25f93188-aada-4221-a071-d911551ae3ba",
              "leftValue": "={{ $json.response }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        -240
      ],
      "id": "2f245d42-9540-4adc-9fbe-a3ed1e4693f6",
      "name": "If fetched"
    },
    {
      "parameters": {
        "url": "http://rsfc:8000/isactive",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        -32
      ],
      "id": "9efe375e-9eb7-4f35-8d47-c1a06357233a",
      "name": "Request RSFC isactive"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5875df17-5501-49ae-a68e-bdcdf51faf13",
              "leftValue": "={{ $json.state }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        144
      ],
      "id": "781b6c36-be7a-4c00-9c5d-8aa8d0b2cb48",
      "name": "If RSFC active"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        -176
      ],
      "id": "34bb8982-5d21-44a1-9467-e2db13750215",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -432
      ],
      "id": "4d42c74b-f3af-490d-967f-066a9eb45b08",
      "name": "Webhook",
      "webhookId": "bbc53165-08a4-4882-852b-44c78e486e35"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -480,
        -288
      ],
      "id": "ade706a9-b6d7-4f47-8f64-4d856a6332a2",
      "name": "Merge2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2512,
        -256
      ],
      "id": "2fca9729-66e3-402d-8920-c2cd6caf20de",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"no se pudo conectar a soca\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -624,
        96
      ],
      "id": "fe28825a-5ff4-4745-af90-d00fe843df09",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -224,
        128
      ],
      "id": "2b0b5a76-a060-43bf-bdf9-02421ad7eebc",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1296,
        336
      ],
      "id": "2bec330f-5ff7-41eb-876d-c9ca2e244536",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2896,
        272
      ],
      "id": "2a5166dc-09e5-49ac-a2c9-357ad661c305",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "job_id",
              "renameField": true,
              "outputFieldName": "job_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1872,
        -224
      ],
      "id": "7f535cc3-2f67-4cd1-a740-d054f252aef7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        -16
      ],
      "id": "e28db273-e219-4171-ba04-3a32da2cf787",
      "name": "Wait1",
      "webhookId": "0243a0c2-f9ab-442d-bbb7-79247828a93c"
    },
    {
      "parameters": {
        "url": "=http://rsfc:8000/functions/status/{{$json.job_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2528,
        -16
      ],
      "id": "0f825267-bee6-475b-b791-c62919803747",
      "name": "Request RSFC status",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e4d3f31-3b29-4732-8779-ca8762c9ecf7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f094be73-f2f5-494a-ae18-6288bb03bf53",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1114f8a9-abc5-42cc-95dc-fb022f72b916",
              "leftValue": "={{ $json.status }}",
              "rightValue": "evaluating",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2416,
        208
      ],
      "id": "499d7f3d-1a71-4959-a34a-d8a00cfb01f1",
      "name": "If running"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a4d75db-1101-4e14-a4e7-498ea9085788",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        256
      ],
      "id": "511be30d-d701-498c-b727-7465efe151f2",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2224,
        -224
      ],
      "id": "18c19d9b-2c0e-48d0-87bf-eb447d0affcf",
      "name": "Loop Over Items1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "job_id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2032,
        -224
      ],
      "id": "63e4183d-2e6a-46e7-aeda-62c7bfe66d31",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://soca:8000/functions/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"target\": \"{{ $json.body.input}}\",\n\"type\": \"{{ $json.body.type }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        -288
      ],
      "id": "cdfac47a-260f-4dc3-b36e-f9f98bbdfea6",
      "name": "Request SOCA",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        160,
        336
      ],
      "id": "e4bd27c1-972f-4df5-b44e-4a7d264a9c33",
      "name": "Wait",
      "webhookId": "0243a0c2-f9ab-442d-bbb7-79247828a93c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        912
      ],
      "id": "d8af76bf-6379-434d-b4ba-908f39db5fb4",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e4d3f31-3b29-4732-8779-ca8762c9ecf7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f094be73-f2f5-494a-ae18-6288bb03bf53",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        672
      ],
      "id": "00db0cae-b39e-4784-bb0a-88f7c64e507a",
      "name": "If running1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a4d75db-1101-4e14-a4e7-498ea9085788",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        672
      ],
      "id": "c12780f2-d11a-4f36-9af9-ca769ce1f4cd",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        800,
        896
      ],
      "id": "7c3005f5-51b8-49e1-b130-dddf65d3caa9",
      "name": "Stop and Error",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ],
      "id": "51920bcb-11ca-4d29-8fe7-5398bcf3cdf6",
      "name": "Stop and Error1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1504,
        320
      ],
      "id": "cd4d77c8-199f-48f7-9455-58d31d5b71e1",
      "name": "Stop and Error2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3072,
        272
      ],
      "id": "131af723-9459-4775-ba14-068c0f3d719c",
      "name": "Stop and Error3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        656
      ],
      "id": "5e05c53d-a552-4027-a4d4-cc4e0da75d1b",
      "name": "Wait2",
      "webhookId": "0243a0c2-f9ab-442d-bbb7-79247828a93c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=http://soca:8000/functions/status-portal/{{ $json.target }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"target\": \"{{ $json.body.input}}\",\n\"type\": \"{{ $json.body.type }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        624
      ],
      "id": "4d0f6af6-26f2-4c16-a3c2-d62d6d18bc0b",
      "name": "Soca portal status",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e4d3f31-3b29-4732-8779-ca8762c9ecf7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f094be73-f2f5-494a-ae18-6288bb03bf53",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        640
      ],
      "id": "378aeecc-580d-4017-a413-64faf12b71fe",
      "name": "If running2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a4d75db-1101-4e14-a4e7-498ea9085788",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        768
      ],
      "id": "f74bffa8-025e-4f40-acc0-e46d5dca2337",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        992
      ],
      "id": "8e6602dc-a69c-4c35-9052-f53fcb717374",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1712,
        992
      ],
      "id": "075d9a85-6e01-4957-978b-0691be8a0560",
      "name": "Stop and Error4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n  {\n    \"status\": \"success\",\n    \"target\": \"oeg-upm\",\n    \"response\": [\n      \"https://github.com/oeg-upm/srbench\",\n      \"https://github.com/oeg-upm/vocab.linkeddata.es\",\n      \"https://github.com/oeg-upm/morph-gft\",\n      \"https://github.com/oeg-upm/map4rdf\",\n      \"https://github.com/oeg-upm/morph-rdb\",\n      \"https://github.com/oeg-upm/morph-streams\",\n      \"https://github.com/oeg-upm/morph-streams-web\",\n      \"https://github.com/oeg-upm/ssn-resource-center\",\n      \"https://github.com/oeg-upm/gwt-blocks\",\n      \"https://github.com/oeg-upm/LDP4RO\",\n      \"https://github.com/oeg-upm/w3id.org\",\n      \"https://github.com/oeg-upm/SMART-Protocols\",\n      \"https://github.com/oeg-upm/CJCyL\",\n      \"https://github.com/oeg-upm/MIRROR\",\n      \"https://github.com/oeg-upm/personal-repo\",\n      \"https://github.com/oeg-upm/oeg-upm.github.io\",\n      \"https://github.com/oeg-upm/LLD-Search\",\n      \"https://github.com/oeg-upm/linked-gtfs\",\n      \"https://github.com/oeg-upm/gtfs-csv2rdf\",\n      \"https://github.com/oeg-upm/OTALEX-C\",\n      \"https://github.com/oeg-upm/OpenRefineExtension_Transformation\",\n      \"https://github.com/oeg-upm/geo.linkeddata.es-TripleGeoKettle\",\n      \"https://github.com/oeg-upm/licensius\",\n      \"https://github.com/oeg-upm/biotea\",\n      \"https://github.com/oeg-upm/btn100\",\n      \"https://github.com/oeg-upm/ORSD-template\",\n      \"https://github.com/oeg-upm/epnoi\",\n      \"https://github.com/oeg-upm/SendEmailWebApp\",\n      \"https://github.com/oeg-upm/Jarsomatic\",\n      \"https://github.com/oeg-upm/ckanext-federgob\",\n      \"https://github.com/oeg-upm/vocabUpdates\",\n      \"https://github.com/oeg-upm/vocabTest\",\n      \"https://github.com/oeg-upm/FarolAppsWeb\",\n      \"https://github.com/oeg-upm/vicinity-ontologies\",\n      \"https://github.com/oeg-upm/website\",\n      \"https://github.com/oeg-upm/website-geo\",\n      \"https://github.com/oeg-upm/mappingpedia-engine\",\n      \"https://github.com/oeg-upm/201612-clarityhackathon-upm\",\n      \"https://github.com/oeg-upm/Linkeddata.es-Code\",\n      \"https://github.com/oeg-upm/mappingpedia-contents\",\n      \"https://github.com/oeg-upm/agora-py\",\n      \"https://github.com/oeg-upm/agora-wot\",\n      \"https://github.com/oeg-upm/docker-geokettle-x3geo\",\n      \"https://github.com/oeg-upm/saref-ext\",\n      \"https://github.com/oeg-upm/mappingpedia-contents-test\",\n      \"https://github.com/oeg-upm/mappingpedia-userinterface\",\n      \"https://github.com/oeg-upm/outlinejs\",\n      \"https://github.com/oeg-upm/ontology-BTN100\",\n      \"https://github.com/oeg-upm/hydrontology\",\n      \"https://github.com/oeg-upm/agora-gw\",\n      \"https://github.com/oeg-upm/agora-docker\",\n      \"https://github.com/oeg-upm/gtfs-bench\",\n      \"https://github.com/oeg-upm/city4age\",\n      \"https://github.com/oeg-upm/web-oeg\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-ws\",\n      \"https://github.com/oeg-upm/rmlc-statistic\",\n      \"https://github.com/oeg-upm/ainn-userm\",\n      \"https://github.com/oeg-upm/mobileage-platform-example\",\n      \"https://github.com/oeg-upm/webODE\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-datasets\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-datasets-ws\",\n      \"https://github.com/oeg-upm/fuzzy-c-means\",\n      \"https://github.com/oeg-upm/SmartDeveloperHub.github.io\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-mappings\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-mappings-ws\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-commons\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-commons-ws\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-executions\",\n      \"https://github.com/oeg-upm/mappingpedia-engine-executions-ws\",\n      \"https://github.com/oeg-upm/pcake\",\n      \"https://github.com/oeg-upm/delta-ontology\",\n      \"https://github.com/oeg-upm/ainn-request\",\n      \"https://github.com/oeg-upm/ainn-website\",\n      \"https://github.com/oeg-upm/PPool\",\n      \"https://github.com/oeg-upm/easytv-onto\",\n      \"https://github.com/oeg-upm/confs-info\",\n      \"https://github.com/oeg-upm/Morph-OME\",\n      \"https://github.com/oeg-upm/morph-graphql\",\n      \"https://github.com/oeg-upm/easytv-annotator\",\n      \"https://github.com/oeg-upm/easytv-annotator-webservice\",\n      \"https://github.com/oeg-upm/terminology-extractor\",\n      \"https://github.com/oeg-upm/IVHackathonOpenDataCaceres-UPM\",\n      \"https://github.com/oeg-upm/fcm-cpp\",\n      \"https://github.com/oeg-upm/terminology-extractor-incibe\",\n      \"https://github.com/oeg-upm/ontologia-ciberseguridad\",\n      \"https://github.com/oeg-upm/ttla\",\n      \"https://github.com/oeg-upm/tada-entity\",\n      \"https://github.com/oeg-upm/helio-framework\",\n      \"https://github.com/oeg-upm/helio-plugins\",\n      \"https://github.com/oeg-upm/r2rml-editor\",\n      \"https://github.com/oeg-upm/vkg-tutorial-eswc2019\",\n      \"https://github.com/oeg-upm/morph-website\",\n      \"https://github.com/oeg-upm/tada-gam\",\n      \"https://github.com/oeg-upm/tada-type-graph\",\n      \"https://github.com/oeg-upm/tada-map-score\",\n      \"https://github.com/oeg-upm/tada-reduce-combine\",\n      \"https://github.com/oeg-upm/TPool\",\n      \"https://github.com/oeg-upm/transmodel-ontology\",\n      \"https://github.com/oeg-upm/mapeathor\",\n      \"https://github.com/oeg-upm/sdg-text-retriever\",\n      \"https://github.com/oeg-upm/corpuser\",\n      \"https://github.com/oeg-upm/r4r\",\n      \"https://github.com/oeg-upm/easytv-resources\",\n      \"https://github.com/oeg-upm/kgc-eval\",\n      \"https://github.com/oeg-upm/ssspotter\",\n      \"https://github.com/oeg-upm/subject_column_election\",\n      \"https://github.com/oeg-upm/WordPress-RDFa\",\n      \"https://github.com/oeg-upm/loupe-api\",\n      \"https://github.com/oeg-upm/map4rdf-mobile-lite\",\n      \"https://github.com/oeg-upm/transmodel-cq\",\n      \"https://github.com/oeg-upm/eWoT\",\n      \"https://github.com/oeg-upm/pycpulimit\",\n      \"https://github.com/oeg-upm/S4WATR\",\n      \"https://github.com/oeg-upm/astrea\",\n      \"https://github.com/oeg-upm/helio\",\n      \"https://github.com/oeg-upm/epw2csv\",\n      \"https://github.com/oeg-upm/epw2rdf\",\n      \"https://github.com/oeg-upm/epw2rdf-contents\",\n      \"https://github.com/oeg-upm/Themis\",\n      \"https://github.com/oeg-upm/bimerr-core\",\n      \"https://github.com/oeg-upm/morph-csv\",\n      \"https://github.com/oeg-upm/declarative-functions\",\n      \"https://github.com/oeg-upm/astrea-web\",\n      \"https://github.com/oeg-upm/weather1\",\n      \"https://github.com/oeg-upm/pausa-web\",\n      \"https://github.com/oeg-upm/snap-docs\",\n      \"https://github.com/oeg-upm/bimerr-weather\",\n      \"https://github.com/oeg-upm/bimerr-occupant-behavior\",\n      \"https://github.com/oeg-upm/bimerr-senML\",\n      \"https://github.com/oeg-upm/bimerr-kpi\",\n      \"https://github.com/oeg-upm/DeltaCimApp\",\n      \"https://github.com/oeg-upm/morph-skyline\",\n      \"https://github.com/oeg-upm/LabSensingArduino\",\n      \"https://github.com/oeg-upm/geo-agreement\",\n      \"https://github.com/oeg-upm/kgc-tutorial-iswc2020\",\n      \"https://github.com/oeg-upm/Widoco\",\n      \"https://github.com/oeg-upm/tada-hdt-entity\",\n      \"https://github.com/oeg-upm/BO2DM\",\n      \"https://github.com/oeg-upm/tada-hdt-entity-experiment\",\n      \"https://github.com/oeg-upm/bimerr-building\",\n      \"https://github.com/oeg-upm/covid19\",\n      \"https://github.com/oeg-upm/bimerr-annotation-objects\",\n      \"https://github.com/oeg-upm/drugs4covid19-vocab\",\n      \"https://github.com/oeg-upm/drugs4covid19-kg\",\n      \"https://github.com/oeg-upm/drugs4covid19web\",\n      \"https://github.com/oeg-upm/drugs4covid19-cs\",\n      \"https://github.com/oeg-upm/Chowlk\",\n      \"https://github.com/oeg-upm/pytada-hdt-entity\",\n      \"https://github.com/oeg-upm/BIMERR-KGG\",\n      \"https://github.com/oeg-upm/tada-api\",\n      \"https://github.com/oeg-upm/drugs4covid19-nlp\",\n      \"https://github.com/oeg-upm/bimerr-health-security\",\n      \"https://github.com/oeg-upm/bimerr-renovation-measures\",\n      \"https://github.com/oeg-upm/OWL-To-OAS-Specification\",\n      \"https://github.com/oeg-upm/tada-hdt-numeric\",\n      \"https://github.com/oeg-upm/drugs4covid19\",\n      \"https://github.com/oeg-upm/bimerr-material-properties\",\n      \"https://github.com/oeg-upm/websiteFooterLogos\",\n      \"https://github.com/oeg-upm/oops-plugin\",\n      \"https://github.com/oeg-upm/chowlk_spec\",\n      \"https://github.com/oeg-upm/bimerr-website\",\n      \"https://github.com/oeg-upm/bimerr-metadata\",\n      \"https://github.com/oeg-upm/tada-qq\",\n      \"https://github.com/oeg-upm/OnToologyDnD\",\n      \"https://github.com/oeg-upm/OnToology-view-mock\",\n      \"https://github.com/oeg-upm/ShapesToWidocoHTML\",\n      \"https://github.com/oeg-upm/easysparql\",\n      \"https://github.com/oeg-upm/DBpedia-downloader\",\n      \"https://github.com/oeg-upm/helio-materialiser\",\n      \"https://github.com/oeg-upm/delta-cims-monitor\",\n      \"https://github.com/oeg-upm/AI4EU_raidologist\",\n      \"https://github.com/oeg-upm/helio-publisher\",\n      \"https://github.com/oeg-upm/IEBrain\",\n      \"https://github.com/oeg-upm/LOT-resources\",\n      \"https://github.com/oeg-upm/easytv-semantic-annotator\",\n      \"https://github.com/oeg-upm/ar2dtool-oegfork\",\n      \"https://github.com/oeg-upm/mgds-ids\",\n      \"https://github.com/oeg-upm/Conceptual-Mapping\",\n      \"https://github.com/oeg-upm/bimerr-information-objects\",\n      \"https://github.com/oeg-upm/Wikidata-class-diagram-generator\",\n      \"https://github.com/oeg-upm/sprint\",\n      \"https://github.com/oeg-upm/awesome-semantic-web\",\n      \"https://github.com/oeg-upm/wot-jtd\",\n      \"https://github.com/oeg-upm/devops-infra\",\n      \"https://github.com/oeg-upm/bimerr-renovation-process\",\n      \"https://github.com/oeg-upm/Instituto-Estudios-Fiscales-ontologias\",\n      \"https://github.com/oeg-upm/OEG-tutorial-template\",\n      \"https://github.com/oeg-upm/oatapi\",\n      \"https://github.com/oeg-upm/kehio\",\n      \"https://github.com/oeg-upm/ner4soft\",\n      \"https://github.com/oeg-upm/lynx-py\",\n      \"https://github.com/oeg-upm/valkyr-ie-py\",\n      \"https://github.com/oeg-upm/cogito-website\",\n      \"https://github.com/oeg-upm/Solidity-ontology\",\n      \"https://github.com/oeg-upm/AstreaRun\",\n      \"https://github.com/oeg-upm/bimerr-obxml\",\n      \"https://github.com/oeg-upm/bimerr-materials\",\n      \"https://github.com/oeg-upm/bimerr-epw\",\n      \"https://github.com/oeg-upm/valkyr-ie-gate\",\n      \"https://github.com/oeg-upm/bimerr_materials_table\",\n      \"https://github.com/oeg-upm/fair_ontologies\",\n      \"https://github.com/oeg-upm/ai4gov-website\",\n      \"https://github.com/oeg-upm/DIoT\",\n      \"https://github.com/oeg-upm/wot-hive\",\n      \"https://github.com/oeg-upm/cogito-facility-ontology\",\n      \"https://github.com/oeg-upm/cogito-construction-process-ontology\",\n      \"https://github.com/oeg-upm/cogito-resources-ontology\",\n      \"https://github.com/oeg-upm/auroral-website\",\n      \"https://github.com/oeg-upm/auroral-privacy-ontology\",\n      \"https://github.com/oeg-upm/auroral-core-ontology\",\n      \"https://github.com/oeg-upm/TFM-Open-Data-for-Universities\",\n      \"https://github.com/oeg-upm/GEnI\",\n      \"https://github.com/oeg-upm/wikidata-label-extractor\",\n      \"https://github.com/oeg-upm/doccano_formatter\",\n      \"https://github.com/oeg-upm/soca\",\n      \"https://github.com/oeg-upm/ya2ro\",\n      \"https://github.com/oeg-upm/JSONPath-to-SPARQL\",\n      \"https://github.com/oeg-upm/cogito-kgg\",\n      \"https://github.com/oeg-upm/virtuoso-triple-store\",\n      \"https://github.com/oeg-upm/docker-freeling4\",\n      \"https://github.com/oeg-upm/Massive-ROs-Creator\",\n      \"https://github.com/oeg-upm/cogito-relational_ddbb\",\n      \"https://github.com/oeg-upm/ipfs-service\",\n      \"https://github.com/oeg-upm/t5-spanish-news-summarization\",\n      \"https://github.com/oeg-upm/beto-covid-sentiment-analysis\",\n      \"https://github.com/oeg-upm/FAIR-Research-Object\",\n      \"https://github.com/oeg-upm/Ethereum-Smart-Contract-Downloader\",\n      \"https://github.com/oeg-upm/cogito-quality-ontology\",\n      \"https://github.com/oeg-upm/cogito-sparql\",\n      \"https://github.com/oeg-upm/cogito-kgg-module\",\n      \"https://github.com/oeg-upm/things-manager-platform\",\n      \"https://github.com/oeg-upm/termlex\",\n      \"https://github.com/oeg-upm/loom-ld\",\n      \"https://github.com/oeg-upm/mobility\",\n      \"https://github.com/oeg-upm/auroral-tourism-ontology\",\n      \"https://github.com/oeg-upm/ontology-directory\",\n      \"https://github.com/oeg-upm/lubm4obda\",\n      \"https://github.com/oeg-upm/morph-geo\",\n      \"https://github.com/oeg-upm/auroral-adapters-ontology\",\n      \"https://github.com/oeg-upm/github-action-sparql\",\n      \"https://github.com/oeg-upm/github-action-morph-kgc\",\n      \"https://github.com/oeg-upm/cogito_thing_manager_module\",\n      \"https://github.com/oeg-upm/cogito_wrapper_module\",\n      \"https://github.com/oeg-upm/github-action-pretty-yarrrml2rml\",\n      \"https://github.com/oeg-upm/software_catalog\",\n      \"https://github.com/oeg-upm/PoliticEsChallenge\",\n      \"https://github.com/oeg-upm/auroral-website-def\",\n      \"https://github.com/oeg-upm/ROCrate_enrichment_service\",\n      \"https://github.com/oeg-upm/cpv-classifier\",\n      \"https://github.com/oeg-upm/spread-sheet-space-apis\",\n      \"https://github.com/oeg-upm/TPDL2022_FAIROs\",\n      \"https://github.com/oeg-upm/hcommonk-anonymizer\",\n      \"https://github.com/oeg-upm/Devos\",\n      \"https://github.com/oeg-upm/WAugNER\",\n      \"https://github.com/oeg-upm/rdf-star-generation\",\n      \"https://github.com/oeg-upm/Sancus\",\n      \"https://github.com/oeg-upm/cogito-safety-ontology\",\n      \"https://github.com/oeg-upm/coppola\",\n      \"https://github.com/oeg-upm/Solidity-ABI-ontology\",\n      \"https://github.com/oeg-upm/widaug\",\n      \"https://github.com/oeg-upm/auroral-biomass-ontology\",\n      \"https://github.com/oeg-upm/dataeuropa-analysis\",\n      \"https://github.com/oeg-upm/auroral-marketplace-ontology\",\n      \"https://github.com/oeg-upm/hola-si-protocol\",\n      \"https://github.com/oeg-upm/FAIR-Research-Object-API\",\n      \"https://github.com/oeg-upm/cogito-iot-ontology\",\n      \"https://github.com/oeg-upm/cogito-platform-ontology\",\n      \"https://github.com/oeg-upm/auroral-shipmentBiomass-ontology\",\n      \"https://github.com/oeg-upm/odrl-lib\",\n      \"https://github.com/oeg-upm/Cloud_Helio_Adapter\",\n      \"https://github.com/oeg-upm/software_mentions_benchmark\",\n      \"https://github.com/oeg-upm/cogito_data_repository\",\n      \"https://github.com/oeg-upm/CODICE-extractor\",\n      \"https://github.com/oeg-upm/auroral-energy-ontology\",\n      \"https://github.com/oeg-upm/kg-scenarios-eval\",\n      \"https://github.com/oeg-upm/cogito-coppola\",\n      \"https://github.com/oeg-upm/TINTO\",\n      \"https://github.com/oeg-upm/AttentionRankLib\",\n      \"https://github.com/oeg-upm/auroral-Car-booking-ontology\",\n      \"https://github.com/oeg-upm/transforming-term-extraction-lib\",\n      \"https://github.com/oeg-upm/yarrrml-validation\",\n      \"https://github.com/oeg-upm/BRATtoBIO\",\n      \"https://github.com/oeg-upm/context-builder\",\n      \"https://github.com/oeg-upm/LuckyLook\",\n      \"https://github.com/oeg-upm/TINTOlib\",\n      \"https://github.com/oeg-upm/auroral-mobility-Ontology\",\n      \"https://github.com/oeg-upm/auroral-cellTower-ontology\",\n      \"https://github.com/oeg-upm/auroral-cow-ontology\",\n      \"https://github.com/oeg-upm/TINTOlib-Documentation\",\n      \"https://github.com/oeg-upm/SancusDemo\",\n      \"https://github.com/oeg-upm/kg-reconstruction-eval\",\n      \"https://github.com/oeg-upm/FAIROS_DAMALOS_2023\",\n      \"https://github.com/oeg-upm/esuk\",\n      \"https://github.com/oeg-upm/cogito_final_thing_manager\",\n      \"https://github.com/oeg-upm/seed-sensors-oeg\",\n      \"https://github.com/oeg-upm/rmldoc\",\n      \"https://github.com/oeg-upm/auroral-VehicleCharger-ontology\",\n      \"https://github.com/oeg-upm/oeg-software-graph\",\n      \"https://github.com/oeg-upm/PODIO\",\n      \"https://github.com/oeg-upm/ERA-QA\",\n      \"https://github.com/oeg-upm/ai4labour\",\n      \"https://github.com/oeg-upm/saref4grid\",\n      \"https://github.com/oeg-upm/OntoRipple\",\n      \"https://github.com/oeg-upm/Ethereum-ontology\",\n      \"https://github.com/oeg-upm/inesdata-website\",\n      \"https://github.com/oeg-upm/software_benchmark_demo\",\n      \"https://github.com/oeg-upm/inesdata-ml-schema\",\n      \"https://github.com/oeg-upm/somef2smp\",\n      \"https://github.com/oeg-upm/LinkedOpenDataINE\",\n      \"https://github.com/oeg-upm/bidirectional_paper_repository_scripts\",\n      \"https://github.com/oeg-upm/AURORAL_Conformance\",\n      \"https://github.com/oeg-upm/AURORAL_IA_Service\",\n      \"https://github.com/oeg-upm/spanish-termex\",\n      \"https://github.com/oeg-upm/sparql-query-demo\",\n      \"https://github.com/oeg-upm/WoT-DT-ontology\",\n      \"https://github.com/oeg-upm/eelisa-lt-workshop\",\n      \"https://github.com/oeg-upm/mderanklib\",\n      \"https://github.com/oeg-upm/WoT-DT-ontology-v2\",\n      \"https://github.com/oeg-upm/DOI-Extractor-OEG\",\n      \"https://github.com/oeg-upm/k-flares\",\n      \"https://github.com/oeg-upm/solar-qa\",\n      \"https://github.com/oeg-upm/agora-ontos\",\n      \"https://github.com/oeg-upm/find_ChatGPT_mentions\",\n      \"https://github.com/oeg-upm/ERA-SHACL-Benchmark\",\n      \"https://github.com/oeg-upm/INELOD-Catalogue\",\n      \"https://github.com/oeg-upm/inesdata-ai-services\",\n      \"https://github.com/oeg-upm/OWLChangeOntology\",\n      \"https://github.com/oeg-upm/telegram-dataset-builder\",\n      \"https://github.com/oeg-upm/teresia\",\n      \"https://github.com/oeg-upm/solar-qa-eval\",\n      \"https://github.com/oeg-upm/inesdata-map-editor\",\n      \"https://github.com/oeg-upm/term2LD\",\n      \"https://github.com/oeg-upm/foops_documentation_scripts\",\n      \"https://github.com/oeg-upm/TINTOlib-Crash_Course\",\n      \"https://github.com/oeg-upm/PromptRankLib\",\n      \"https://github.com/oeg-upm/virc\",\n      \"https://github.com/oeg-upm/OpenOEG\",\n      \"https://github.com/oeg-upm/software_classification\",\n      \"https://github.com/oeg-upm/rag-qa-generator\",\n      \"https://github.com/oeg-upm/solar-ui\",\n      \"https://github.com/oeg-upm/teresia-annotators\",\n      \"https://github.com/oeg-upm/solar-qa-ui\",\n      \"https://github.com/oeg-upm/soel-site\",\n      \"https://github.com/oeg-upm/codemeta-crosswalk-mapping-methodology\",\n      \"https://github.com/oeg-upm/solarchem-corpus\",\n      \"https://github.com/oeg-upm/Articulos-HTML-Enlazado\",\n      \"https://github.com/oeg-upm/terminology-utils\",\n      \"https://github.com/oeg-upm/auto-codemeta-generator\",\n      \"https://github.com/oeg-upm/OOPS\",\n      \"https://github.com/oeg-upm/term-rag\",\n      \"https://github.com/oeg-upm/llm4oe-slr\",\n      \"https://github.com/oeg-upm/pycottas\",\n      \"https://github.com/oeg-upm/rsfc\",\n      \"https://github.com/oeg-upm/shacl_integration\",\n      \"https://github.com/oeg-upm/shacl-owl-kcap-2025\",\n      \"https://github.com/oeg-upm/coraq\",\n      \"https://github.com/oeg-upm/codemeta\",\n      \"https://github.com/oeg-upm/fair-by-desing-web\",\n      \"https://github.com/oeg-upm/DAOnt\",\n      \"https://github.com/oeg-upm/GrOwEr\",\n      \"https://github.com/oeg-upm/rsfc-service\",\n      \"https://github.com/oeg-upm/Template-Ontology-Repository\",\n      \"https://github.com/oeg-upm/kge-domain\",\n      \"https://github.com/oeg-upm/gtfs-homogeneisation-analysis\",\n      \"https://github.com/oeg-upm/dia-conversational-agent\",\n      \"https://github.com/oeg-upm/Plantilla-Repositorio-Ontologia\",\n      \"https://github.com/oeg-upm/spgf\",\n      \"https://github.com/oeg-upm/GAP-KGE\",\n      \"https://github.com/oeg-upm/edint-ontologia-aparcamiento\"\n    ],\n    \"err\": null\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -672
      ],
      "id": "6dd7aafa-1447-41e5-b323-3a178cd865c6",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        464,
        -672
      ],
      "id": "9b07bb18-1312-4a77-93b3-8dffde62a8a7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -128,
        320
      ],
      "id": "e582dde6-2d1f-4cfa-90b3-d29ac6730d84",
      "name": "Stop and Error5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=http://soca:8000/functions/status-metadata/{{ $json.target }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"target\": \"{{ $json.body.input}}\",\n\"type\": \"{{ $json.body.type }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        384
      ],
      "id": "5562bfec-a358-4053-b712-a1fb0af2baf5",
      "name": "Soca Metadata Status",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request RSFC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Request RSFC": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Soca isactive": {
      "main": [
        [
          {
            "node": "If Soca Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Soca Active": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If fetched": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request RSFC isactive": {
      "main": [
        [
          {
            "node": "If RSFC active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If RSFC active": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Request Soca isactive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Request SOCA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Request RSFC status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request RSFC status": {
      "main": [
        [
          {
            "node": "If running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If running": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request SOCA": {
      "main": [
        [
          {
            "node": "If fetched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Soca Metadata Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If running1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook5": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Soca portal status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soca portal status": {
      "main": [
        [
          {
            "node": "If running2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If running2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook6": {
      "main": [
        [
          {
            "node": "Stop and Error4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Stop and Error5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soca Metadata Status": {
      "main": [
        [
          {
            "node": "If running1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "de3a27ea-778e-4104-8c6e-b11ac539fadd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f45b158e00151191c95740af556f2f681ce1591dd6d42b0ac1ed54c4ea66283f"
  },
  "id": "i8PRe88oxE5oHo0m",
  "tags": []
}