containers/n8n_container/workflow/rsfc_workflow.json
{
  "name": "rsc_workflow",
  "nodes": [
    {
      "parameters": {
        "queue": "soca_events",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        352
      ],
      "id": "dbd58a13-f9c4-47e5-a1a0-59f68e6a8b62",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "Gu1h8bUNV13Vwh2z",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "=/root/.n8n-files/soca/{{$json.target}}/repos.txt",
        "options": {
          "fileExtension": ""
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        576,
        272
      ],
      "id": "7c1cbf30-7501-4199-a764-880562d96af8",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        752,
        272
      ],
      "id": "cf7e715d-54e9-4227-89d8-77edc3a0484b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const repos = $json.data\n  .split('\\n')\n  .map(r => r.trim())\n  .filter(r => r !== '');\n\nreturn [\n  {\n    json: {\n      repos_url: repos\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        272
      ],
      "id": "1579cc70-a913-4012-94ef-84eb6a2e3687",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n--network containers_net \\\n-v \"{{ $env.OUTPUTS }}:/app/outputs\" \\\n-e INPUT='{{ JSON.stringify($json) }}' \\\n-e GITHUB_TOKEN={{ $env.GITHUB_TOKEN }} \\\n-e DATABASE_URL={{ $env.DATABASE_URL }} \\\n-e RABBITMQ_HOST=rabbitmq \\\n-e RABBITMQ_USER={{ $env.RABBITMQ_USER }} \\\n-e RABBITMQ_PASSWORD={{ $env.RABBITMQ_PASSWORD }} \\\nrsfc-container:latest"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1248,
        272
      ],
      "id": "3ef03ccb-d122-4b47-898d-cff4d15f072b",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25589efd-91e3-475a-bc56-2baa2c6bf8f3",
              "leftValue": "={{$json.event}}",
              "rightValue": "soca_finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        352
      ],
      "id": "b142e2b6-eba1-483b-b3b8-7f7e8661048f",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Event not \"soca_finished\""
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        528
      ],
      "id": "da724fe8-0094-4b1f-9d9b-4fb14cad041d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.content);\n\nreturn [\n  {\n    json: data\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        352
      ],
      "id": "beb71250-e88d-4a7e-9046-f665cffd4d8f",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2246f547-9f15-4517-8c11-e28bc5b92747",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6177bb2190c233fe58db666087bf366235934ab541d37ef1876770361a8041d0"
  },
  "id": "HDIbok5QHrz21M38",
  "tags": []
}